@charset "utf-8";

body {
    background: #222222;
    color: white;
    font-family: "Roboto", sans-serif;
}

a {
    color: #f8aeae;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-gap: 40px;
    margin: 5%;
    grid-auto-flow: dense;
}

@media (min-width: 480px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    }
}

@media (min-width: 960px) {
    .container {
        width: min(100%, 840px);
        margin: 5% auto;
    }
}

.container > div {
    padding: 1em;
    border-radius: 6px;
    box-shadow:  6px  6px 6px 4px rgba(0, 0, 0, .8),
                -6px -6px 6px 4px rgba(255, 255, 255, 0.03);
}

.container .wide {
    grid-column-start: 1;
    grid-column-end: -1;
}

.container .tall2 {
    grid-row-end: span 2;
}

.container .lasergame-canvas-div {
    padding: 0;
    position: relative;
}

input:invalid + span:after {
    content: '✖';
    color: #ffffff;
    padding-left: 5px;
}

input:valid + span:after {
    content: '✓';
    color: #ffffff;
    padding-left: 5px;
}